:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* CSS RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADINGS */

h1 {
  font-size: 50px;
  padding: 20px;
}

h2 {
  font-size: 30px;
  padding: 20px;
}

h3 {
  padding: 8px;
}

h4 {
  padding: 8px;
  margin-top: 5px;
}

/* NAVBAR */
.navBar {
  padding: 10px;
  background-color: darkslategray;
  margin-bottom: 50px;
}

.navBar a {
  text-decoration: none;
  padding: 5px 15px;
  font-size: 20px;
  color: white;
}

.navBar a:hover {
  opacity: 0.5;
}

.navBar-list {
  list-style: none;
  display: block;
}

.navBar li {
  display: inline-block;
  padding: 10px;
}

/* REVIEWS */

.reviews-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.reviews-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  padding: 20px;
  color: white;
  list-style: none;
}

.reviews-card a {
  text-decoration: none;
  color: white;
}

.reviews-card h3:hover {
  opacity: 0.5;
}

.reviews-card img:hover {
  opacity: 0.5;
}

.reviews-card p {
  font-size: 14px;
  padding-bottom: 10px;
  color: white;
}

.reviews-image {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 8px;
  margin: 10px 0px;
}

.reviews-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* SINGLE REVIEW */

.single-review-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  padding: 10px;
  max-width: 800px;
  margin: 0 auto;
}

.single-review-card p {
  padding: 5px;
}

.single-review-card-img {
  width: 100%;
  height: 50vh;
  object-fit: contain;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 10px;
}

.err {
  color: rgb(178, 64, 64);
}

.blockquote {
  font-style: italic;
  font-size: 14px;
}

.blockquote::before {
  content: "\201C";
  color: rgb(209, 168, 117);
  font-size: 15px;
}

.blockquote::after {
  content: "\201D";
  color: rgb(209, 168, 117);
  font-size: 15px;
}

/* VOTES */
.votes-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  font-size: 12px;
}

.votes-container button {
  font-size: 25px;
  cursor: pointer;
}

button {
  background-color: transparent;
  font-size: 18px;
  border: none;
  color: rgb(209, 168, 117);
  cursor: pointer;
  margin: 10px 0;
}

button:hover {
  opacity: 0.5;
}

button:disabled {
  color: grey;
  opacity: 1;
  cursor: default;
}

/* COMMENTS */
.author-text {
  font-size: 12px;
  color: rgb(209, 168, 117);
}

.comment-container p {
  font-size: 14px;
  border-bottom: dashed rgb(209, 168, 117) 1px;
}

/* ADD COMMENT FORM */
.addComment {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  color: white;
  margin: 0 auto;
  color: rgb(209, 168, 117);
}

.addComment input,
textarea {
  margin: 10px;
}
