:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.reviewCard {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}

h1 {
padding: 20px;
}

.navBar {
  padding: 10px;
  background-color: darkslategray;
}

.navBar a {
  text-decoration: none;
  padding: 5px;
  font-size: 20px;
  color: white;

}
.reviewCard li {
  flex: 0 0 calc(30%);
  list-style: none;
  margin-bottom: 10px;
  text-align: left;
  padding: 10px, 10px, 0px, 10px;
}

.reviewImage {
  width: 100%;
  border-radius: 10px;
}
